.main-body{
    .main-container{
        font-family: ArialRounded, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        background-color: rgb(186, 73, 73);
        min-height: 100vh;
        width: 100%;
        color: white;
        transition: background-color 0.5s ease-in-out 0s;
        padding-bottom: 12px;
        box-sizing: border-box;
        padding-top: env(safe-area-inset-top);
        
        }
        a{
            text-decoration: none !important;
            font-weight: bold;
            color: white;
         //       color: hsl(2, 66%, 58%);
        }
        a:-webkit-any-link {
            // /color: -webkit-link;
            cursor: pointer;
            text-decoration: underline;
        }
        
        .header{
            padding:0px 12px;
            max-width: 620px;
            margin: auto;
            .header-objects{
                background-color: inherit;
                width: 100%;
                height: 60px;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                align-items: center;
                .header-logo{
                    display: inline-block;
                    color: white;
                    margin: 0px;
                    padding: 10px 0px;
                    font-size: 20px;
                    .header-items-align{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        .img-size{
                            width: 20px;
                            margin-right: 4px;
                        }
                    }
                }
                .header-items-right{
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    .header-button{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        justify-content: center;
                        text-align: center;
                        border-radius: 4px;
                        cursor: pointer;
                        opacity: 0.9;
                        background: none rgba(255, 255, 255, 0.2);
                        box-shadow: none;
                        margin-left: 10px;
                        font-size: 13px;
                        padding: 8px 12px;
                        min-width: 70px;
                        border: none;
                        color: white !important;
                        .img-header-right{
                            width: 16px;
                        }
                        .header-button-text{
                            display: block;
                            margin-left: 4px;
                        }
                    }
                }
                
            }
        }
        .section-body{
            padding: 0px 12px;
            max-width: 620px;
            margin: auto;
            .section-body-align{
                text-align: center;
                .section-body-hr-spr{
                    background-color: rgba(0, 0, 0, 0.1);
                    height: 1px;
                    margin-bottom: 40px;
                    .section-body-hr-spr-white-statusbar{
                        // height: 3px;
                        background-color: white;
                        border-radius: 100px;
                        transform: translateY(-1px);
                        
                    }
                }
            .section-body-content{
                max-width: 480px;
                margin: auto;
                 .section-body-content-area{
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 20px 0px 30px;
                    border-radius: 6px;
                    margin-bottom: 20px;
                    width: 100%;
                    .section-header{
                        display: inline-flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        .section-btn{
                            border: none;
                            margin: 0px;
                            border-radius: 4px;
                            font-family: ArialRounded;
                            font-size: 16px;
                            padding: 2px 12px;
                            height: 28px;
                            cursor: pointer;
                            //background: none rgba(0, 0, 0, 0.15);
                            box-shadow: none;
                            color: white;
                            opacity: 1;
                            //font-weight: bold;
                        }
                    }
                    .timer-size{
                        font-size: 120px;
                        font-weight: bold;
                        margin-top: 20px;
                    }
                    .start-btn{
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        .start-btn-styles{
                            cursor: pointer;
                            border: none;
                            margin: 20px 0px 0px;
                            padding: 0px 12px;
                            border-radius: 4px;
                            box-shadow: rgb(235, 235, 235) 0px 6px 0px;
                            font-family: ArialRounded;
                            font-size: 22px;
                            height: 55px;
//                            color: rgb(186, 73, 73);
                            font-weight: bold;
                            width: 200px;
                            background-color: white;
                            transition: color 0.5s ease-in-out 0s;
                        }
                    }
                 }  
            }
            }

        }
}